include MANIFEST.in
include requirements.txt
include communicator/modules.txt
include communicator/pyproject.toml
include communicator/README.md
recursive-include communicator *.json
recursive-include communicator *.py
recursive-include communicator *.txt
recursive-exclude communicator *.pyc
